<%-include('../layout/userheader') %>
    <main class="main">
        <section class="home-slider position-relative mb-30">
            <div class="container">
                <div class="home-slide-cover bg-grey-10 mt-30">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated">Trade-In Offer</h4>
                                            <h3 class="animated fw-900">Supper Value Deals</h3>
                                            <h2 class="animated fw-900 text-brand">On All Products</h2>
                                            <p class="animated">Save more with coupons & up to 70% off</p>
                                            <a class="animated btn btn-brush btn-brush-3" href="/allcategory" tabindex="0"> Shop Now </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated" src="assets/imgs/slider/slider-4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated">Hot promotions</h4>
                                            <h3 class="animated fw-900">Fashion Trending</h3>
                                            <h2 class="animated fw-900 text-brand">Great Collection</h2>
                                            <p class="animated">Save more with coupons & up to 20% off</p>
                                            <a class="animated btn btn-brush btn-brush-1" href="/allcategory" tabindex="0"> Get It Now </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated" src="assets/imgs/slider/slider-1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
        </section>



        <section class="product-carousel section-padding position-relative wow fadeIn animated">
            <div class="container">
                <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% let counter = 0;
                        let itemsPerSlide = 4; // Adjusted to display 4 products per slide
                        for (let i = 0; i < Math.ceil(products.length / itemsPerSlide); i++) { %>
                            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                <div class="row">
                                    <% for (let j = 0; j < itemsPerSlide; j++) {
                                        const index = i * itemsPerSlide + j;
                                        if (index < products.length) {
                                            const product = products[index];
                                            const categoryId = product.category; 
                                            categories.forEach(category => { 
                                                if (categoryId.toString() === category._id.toString()) { 
                                                    if (category.is_listed) { %>
                                                        <div class="col-lg-3">
                                                            <div class="card">
                                                                <a href="/singleProduct/<%= product._id%>">
                                                                    <img class="card-img-top" src="/assets/imgs/productIMG/<%= product.image[0]%>" alt="<%= product.name %>">
                                                                </a>
                                                                <div class="card-body">
                                                                    <h5 class="card-title"><%= product.name %></h5>
                                                                    <p class="card-text">Price: <%= product.price %></p>
                                                                    <!-- Add any additional information you want to display -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } 
                                                } 
                                            }); 
                                        } else { %>
                                            <div class="col-lg-3"></div>
                                    <% } %>
                                    <% counter++;
                                    } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <!-- Carousel controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section class="home-slider position-relative mb-30">
            <div class="container">
                <div class="home-slide-cover bg-grey-10 mt-30">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated">Trade-In Offer</h4>
                                            <h3 class="animated fw-900">Supper Value Deals</h3>
                                            <h2 class="animated fw-900 text-brand">On All Products</h2>
                                            <p class="animated">Save more with coupons & up to 70% off</p>
                                            <a class="animated btn btn-brush btn-brush-3" href="/allcategory" tabindex="0"> Shop Now </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated" src="assets/imgs/slider/slider-5.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap">
                            <div class="container">
                                <div class="row align-items-center slider-animated-1">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="hero-slider-content-2">
                                            <h4 class="animated">Hot promotions</h4>
                                            <h3 class="animated fw-900">Fashion Trending</h3>
                                            <h2 class="animated fw-900 text-brand">Great Collection</h2>
                                            <p class="animated">Save more with coupons & up to 20% off</p>
                                            <a class="animated btn btn-brush btn-brush-1" href="/allcategory" tabindex="0"> Get It Now </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="single-slider-img single-slider-img-1">
                                            <img class="animated" src="assets/imgs/slider/slider-4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
        </section>
        
        
        
        

        



        
               
    </main>
    <%-include('../layout/userfooter') %>
